*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Mono', monospace;
}
h1,h2,h3,h4,h5,h6{
    color: #1d273b;
    font-weight: 300;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; 
}
.contenedor1{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden; 
    padding: 60% 0;
}
h1{
    font-size: 50px;

}
/*header*/
header::before{
    content: "";
    display: block;
    margin-top: 80px;
}
nav{
    width: 100%;
    height: 80px;
    background: #fff;
    border-bottom: 1px solid transparent;
    box-shadow: 1px 1px 10px rgba(0, 0,0, .2);
    position:fixed ;
    top: 0;
    z-index: 100;

   /* transition: ease-in-out 0.5s;*/

}
.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
}
.nav .logo{
    height: 100%;
}
.nav .logo img{
    height: 100%;
    vertical-align: top;
}
.enlaces-header{
    font-weight: 300;
}
.nav .enlaces-header a{
    color:#5D6678;
    text-decoration:navy;
    margin-left: 20px;

}
.hamburguer{
    width: 80px;
    height: 80px;
    display: none;
    background: #236363;
    text-align: center;
    z-index: pointer;
   /*  transition: color 0.5s ease-in;*/

}
.hamburguer > i{
    font-size: 25px;
    line-height: 80px;
}
.contenido-header{
    height: 100%;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-header > img{
    width: 550px;
    animation: ease-in animat 1s;
}
@keyframes animat {
    0%{
        transform: scale(0);
    }100%{
        transform: scale(1);
    }
    
}
.textos-header{
    margin: 0 0 0 30px;
}
.contenido-header p{
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}
.contenido-header a{
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1fde82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, 46);


}